body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('pic.avif') no-repeat center center fixed; /* Set your background image here */
    background-size: cover;
    overflow: hidden;
}

.bg-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31, 30, 30, 0.8);
    width: 50%;
    height: auto;
    margin: 2% 0;
    border: 6px solid rgb(43, 43, 88);
    border-radius: 20px;
    padding: 2rem;
    z-index: 1;
}

input {
    margin: 10px;
    background: transparent;
    border: 2px solid white;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

input:focus-visible {
    outline: 2px solid rgb(43, 43, 88);
    border: 2px solid rgb(43, 43, 88);
}

.para {
    color: white;
    margin: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.button {
    background: rgb(49, 49, 99);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-div, .second-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .calculator {
        width: 70%;
    }
}

@media screen and (max-width: 769px) {
    .calculator {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .calculator {
        width: 100%;
    }
}
